body {
	background-color: #fefcf4;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0px;
	margin: 1em;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

p {
}